body {
    background: #ddd;
    margin: 0;
}

p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}
  
#container {
    position: absolute;
    top: 50px;
    left: 450px;    
    background: white;
    border: 1px solid #f00;   
    margin: 0; 
}
  

  
#controls {
    position: relative;
    width: 350px;
    height: 730px;
    background: white;
    border-right: 1px  solid #f00;
    margin: 0;
    text-align: center;
}
  
#round {
    padding: 5px;
}
  
.buttons {
    padding: 5px;
    width: 100%;
}

  
