 
.boards {
    display: flex;
    width: 300px;
    flex-wrap: wrap;
  }
  
  .box {
    background: #D5E5FC;
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #6F8FBF;
  }