body{
    background-color: #ffcc00;
}

.logo{
    padding-top: 30px;
}

.icons{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.icons > i{
    display: flex;
    background-color: #434343;
    width: 30px;
    height: 30px;

    justify-content: center;
    align-items: center;
    border-radius: 15px;
    color: #ffcc00;
}

.icons > i:hover {
    background-color: #000000;
}

@media (max-width: 767px){
    
}

.navbar{
    margin: 30px;
}