.flex-outer {
    display: flex;
  }
  
  .flex-outer > div {
    flex: 1;
  }
  
  @media (max-width: 480px) {
    .flex-outer {
      flex-direction: column;
    }
  }
  
  .bg-light {
    background: #ff9900 !important;
  }
  
  .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: red;
  }
  
  .example {
    animation: fadeInOut80s 2s infinite alternate-reverse cubic-bezier(.48,1.93,.44,-0.91);
  }
  
  @keyframes fadeInOut80s {
    0% {
      opacity: 1;
      transform: rotateX(0deg);
    }
  
    100% {
      opacity: 0;
      transform: rotateX(359deg);
    }
  }

