
body {
  background: #ffcc00;
}

.logo {
    padding-top: 30px;
    /*text-transform: uppercase;*/
}

#carouselExampleIndicators {
  margin-bottom: 70px;
}

.carousel-indicators {
    bottom: -60px;
    font-family: "League Gothic";
    src: url("LeagueGothic-Regular.otf") format("opentype");
}

.media .media-card {
  background-color: white;
  margin-bottom: 15px;
}

h3 {
  font-family: 'League Gothic';
}

.events {
  background: white;
}

footer {
  padding: 30px;
  /* background-color: #353535;
  background-image: url(./bg-footer.png);
  background-repeat: no-repeat;
  background-position: bottom right; */

  background: #353535 url(./bg-footer.png) no-repeat bottom right;
  margin-top: 70px;
  color: white;
}

.media-card img{
    width:100%;
}

.media-card .title{
    margin: 2px 0;
    font-size
}