body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .game {
    border: solid 1px #cccccc;
    border-radius: 10px;
    position: relative;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .toolbar {
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .toolbar select {
    border: none;
    color: #666666;
    font-weight: bold;
  }
  
  .toolbar button {
    color: #666666;
    background: transparent;
    border: none;
  }
  
  .result {
    display: flex;
    justify-content: center;
  }
  
  .result > div {
    width: 33%;
    border-top: solid 1px #FDFDFD;
    border-right: solid 1px #EDEDED;
    border-left: solid 1px #EDEDED;
    border-bottom: solid 1px #DDDDDD;
    border-radius: 8px;
    padding: 8px 12px;
    box-sizing: border-box;
    margin: 1%;
    display: flex;
    justify-content: space-between;
  }
  
  .result > div.current {
    padding-bottom: 7px;
    box-shadow: 0px 3px 4px #dddddd;
    border-bottom: solid 2px #12B5A2;
  }
  
  .status {
    text-align: center;
    color: #666666;
    font-size: 12px;
    padding: 10px;
  }
  
  .board-background {
    background: #12B5A2;
    padding: 10px;
    display: flex;
    justify-content: center;
  }
  
  .board {
    display: flex;
    width: 195px;
    flex-wrap: wrap;
  }
  
  .board .box {
    width: 65px;
    height: 65px;
    border: solid 4px #0C9787;
    box-sizing: border-box;
  }
  
  .board .box:nth-child(1),
  .board .box:nth-child(2),
  .board .box:nth-child(3) {
    border-top: none;
  }
  .board .box:nth-child(1),
  .board .box:nth-child(4),
  .board .box:nth-child(7) {
    border-left: none;
  }
  .board .box:nth-child(3),
  .board .box:nth-child(6),
  .board .box:nth-child(9) {
    border-right: none;
  }
  .board .box:nth-child(7),
  .board .box:nth-child(8),
  .board .box:nth-child(9) {
    border-bottom: none;
  }
  
  .restart button {
    width: 100%;
    padding: 10px;
    background: none;
    border: none;
    color: #12B5A2;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .feedback {
    position: absolute;
    right: 10px;
    top: calc(100% + 6px);
  }
  
  .feedback a {
    text-decoration: none;
    color: #666666;
    font-size: 12px;
    font-style: italic;
  }
  